/*base form styles */
html,
body {
	margin: 0;
	padding: 0px;
}

* {
	font-size: 16px;
	border-radius: 6px;
}

.aligned label,
input {
	/* to define widths */
	display: inline-block;
}

.aligned label {
	width: 5.5rem;
	/* Positions the label text beside the input */
	text-align: right;
}

input[type='text']:focus {
	outline: none;
	transform: scale(1.06);
}

select:focus {
	outline: none;
	transform: scale(1.06);
}

textarea:focus {
	outline: none;
	transform: scale(1.04);
}

hr {
	border-top: 10px solid #8bc1de;
	border-radius: 7px;
}

input[type='submit'] {
	cursor: pointer;
	margin: 0 auto;
	display: block;
	padding: 5px;
}

.logo {
	display: block;
	margin: auto;
	max-width: 20%;
	margin-top: 25px;
}

.title {
	font-size: 2rem;
	text-align: center;
}

h3 {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 1.25rem;
}

h2 {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #111f41;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	display: -webkit-flex;
	display: flex;
	/* -webkit-align-items: center;
	align-items: center; */
	-webkit-justify-content: center;
	justify-content: center;
	/* padding-top: 0; */
	/* padding-bottom: 0; */
}

header {
	padding: 20px;
	/* text-align: center; */
}

input[type='text'] {
	width: 20%;
	margin: 0.4rem;
}

input[type='email'] {
	width: 20%;
	margin: 0.4rem;
}

input[type='email']:focus {
	outline: none;
	transform: scale(1.06);
}

.state select {
	width: 21%;
	margin: 0.4rem;
}

.state select:focus {
	outline: none;
	transform: scale(1.06);
}

input[type='date'] {
	width: 20%;
	margin: 0.4rem;
}

input[type='date']:focus {
	outline: none;
	transform: scale(1.06);
}

input[type='tel'] {
	width: 20%;
	margin: 0.4rem;
}

input[type='tel']:focus {
	outline: none;
	transform: scale(1.06);
}

input[type='number'] {
	width: 3.5%;
	margin: 0.4rem;
}

input[type='number']:focus {
	outline: none;
	transform: scale(1.06);
}

input[type='radio'] {
	cursor: pointer;
}

input[type='submit'] {
	width: 10%;
	margin: auto;
	display: block;
	padding: 10px;
}

.sex-radios {
	margin-left: 6.5rem;
}

label[for='male'],
label[for='female'] {
	cursor: pointer;
	display: inline;
}

.women-only {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.sex input[type='radio']:checked ~ .women-only {
	opacity: 1;
	overflow: visible;
	height: auto;
	margin-bottom: 550px;
	width: 70%;
	color: lightpink;
}

.hr-women-only {
	border-top: 10px solid lightpink;
	border-radius: 7px;
}

.menstrual-difficulties:focus {
	background-color: #ead3d7;
	transform: scale(1.04);
}

.husband-in-favor-textarea:focus {
	background-color: #ead3d7;
	transform: scale(1.04);
}

.education select {
	width: 21%;
	margin: 0.4rem;
}

.education select:focus {
	outline: none;
	transform: scale(1.06);
}
.siblings {
	margin-bottom: 40px;
}

label[for='yes-siblings'],
label[for='no-siblings'] {
	cursor: pointer;
	display: inline;
}

.yes-siblings-radio input[type='radio']:checked ~ .siblings-order {
	opacity: 1;
	overflow: visible;
	height: auto;
	margin-bottom: 170px;
}

.siblings-order {
	/* display: inline-block; */
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.straightened label,
input {
	/* to define widths */
	display: inline-block;
}

.straightened label {
	width: 8.4rem;
	/* Positions the label text beside the input */
	text-align: right;
}

.marriage-info {
	margin-bottom: 20px;
}

label[for='yes-married'],
label[for='no-married'] {
	cursor: pointer;
	display: inline;
}

#marriage-options {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.single-status {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	border-radius: 6px;
}

.no-married input[type='radio']:checked ~ .single-status {
	opacity: 1;
	overflow: visible;
	height: auto;
	margin-bottom: 50px;
}

.yes-married input[type='radio']:checked ~ #marriage-options {
	opacity: 1;
	overflow: visible;
	height: auto;
	max-height: 1150px;
}

.aligned-spouse label,
input {
	/* to define widths */
	display: inline-block;
}

.aligned-spouse label {
	width: 10.2rem;
	/* Positions the label text beside the input */
	text-align: right;
}

.dating {
	display: inline;
	/* width: 11rem; */
}

.dating label {
	margin-left: 1.5rem;
}

.previously-married-description {
	margin-top: 1rem;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.previously-married-description textarea {
	margin-top: 1rem;
}

.previously-married-yes
	input[type='radio']:checked
	~ .previously-married-description {
	opacity: 1;
	max-height: 120px;
	overflow: visible;
}

.separated-description {
	margin-top: 1rem;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.separated-description textarea {
	margin-top: 1rem;
}

.separated-yes input[type='radio']:checked ~ .separated-description {
	opacity: 1;
	max-height: 120px;
	overflow: visible;
}

.filed-for-divorce-description {
	margin-top: 1rem;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.filed-for-divorce-description textarea {
	margin-top: 1rem;
}

.filed-for-divorce-yes
	input[type='radio']:checked
	~ .filed-for-divorce-description {
	opacity: 1;
	overflow: visible;
	max-height: 120px;
}

#kidStatus {
	margin-right: 3.2rem;
}

#moreChildren input[type='number'],
input[type='text'] {
	margin-right: 3.2rem;
}

#numberOfChildren {
	margin-left: 1rem;
}
.chronic-description {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.chronic-yes input[type='radio']:checked ~ .chronic-description {
	opacity: 1;
	overflow: visible;
	height: auto;
	margin-bottom: 130px;
}

.non-medical-explanation {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.non-medical-drugs-yes input[type='radio']:checked ~ .non-medical-explanation {
	opacity: 1;
	overflow: visible;
	height: auto;
	margin-bottom: 160px;
}

.alcohol-explanation {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.alcohol-yes input[type='radio']:checked ~ .alcohol-explanation {
	opacity: 1;
	overflow: visible;
	height: auto;
	margin-bottom: 120px;
}

.caffeine-explanation {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.caffeine-yes input[type='radio']:checked ~ .caffeine-explanation {
	opacity: 1;
	overflow: visible;
	height: auto;
	margin-bottom: 120px;
}

.smoking-explanation {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.smoke-yes input[type='radio']:checked ~ .smoking-explanation {
	opacity: 1;
	overflow: visible;
	height: auto;
	margin-bottom: 120px;
}

.emotional-explanation {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.emotional-yes input[type='radio']:checked ~ .emotional-explanation {
	opacity: 1;
	overflow: visible;
	height: auto;
	margin-bottom: 120px;
}

.psychiatrist-explanation {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}

.psychiatrist-yes input[type='radio']:checked ~ .psychiatrist-explanation {
	opacity: 1;
	overflow: visible;
	height: auto;
	margin-bottom: 120px;
}

.issues-indication {
	text-align: center;
}

.aligned-church label,
input {
	/* to define widths */
	display: inline-block;
}

.aligned-church label {
	width: 13.3rem;
	/* Positions the label text beside the input */
	text-align: right;
}

.problems {
	column-count: 3;
	margin-left: 12%;
	margin-right: 0;
	padding-bottom: 2%;
}

.problems input[type='number'] {
	width: 30px;
}

.referral-aligned label,
input {
	/* to define widths */
	display: inline-block;
	max-width: 50rem;
}

.referral-aligned label {
	width: 15.9rem;
	/* Positions the label text beside the input */
	text-align: right;
}

.referral-aligned input {
	/* to define widths */
	max-width: 20rem;
}

.submit {
	padding: 10px 50px;
}

.hide {
	display: none;
}

@media (max-width: 768px) {
	body {
		padding: auto;
		height: 95%;
		margin-left: 2rem;
	}
	.pdi-form {
		height: 100vh;
		margin-bottom: 20px;
		margin-left: 2rem;
	}
}

@media (max-width: 576px) {
	body {
		height: 95%;
		margin-left: 2rem;
	}
	.pdi-form {
		transform: scale(0.5);
		height: 100vh;
		margin-left: 2rem;
	}
}
